
<div class=" col-xs-12 col-md-12 container-fluid fondo">

    <div class="row-xs-6 row-md-6 logos">
    <div class="col-xs-6 col-md-6 unco">
      <a href="https://www.uncoma.edu.ar/"> <img class="logounco" type="image/png" src={{fotoRuta}}{{logounco}} rel="png" alt="uncologo" width="180"/></a>
    </div>
    <div class="col-xs-6 col-sm-6 icono">
      <a href="http://faiweb.uncoma.edu.ar/"><img class="logofai" type="image/png" src={{fotoRuta}}{{logofai}}  rel="png" alt="failogo" width="190"/></a>
  </div>
  </div>
    <div class="row-xs-12 row-sm-12 row-md-12">

    <div class="col-xs-6 col-sm-12 col-md-12">
        <h1 class="tit1">{{titulo1.toLocaleUpperCase()}}</h1>
        <h2 class="tit2">{{titulo2}}</h2>
    </div>

  </div>
</div>
