 <!--<footer class="container-fluid text-center">
  <a href="" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <div class="pie">
  <p>{{descripcion}} <a href="https://www.uncoma.edu.ar/" target="_blank" title="pagina unco">https://www.uncoma.edu.ar/</a></p>
  <p>{{descripcion2}} <a href="http://faiweb.uncoma.edu.ar/" target="_blank" title="pagina fai">http://faiweb.uncoma.edu.ar/</a></p>
  <p>{{ubicacion}}</p>
  <p>{{telefono}}</p>
  </div>
</footer>-->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <!------ Include the above in your HEAD tag ---------->

 <footer class="section footer-classic context-dark bg-image" style="background: #2d3246; align-content: center">
   <div class="container">
     <div class="row row-30">
       <div class="col-md-4 col-xl-5">
         <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
           <!-- Rights-->
           <p class="rights"><span>©  </span><span class="copyright-year">2019</span><span> Todos los derechos reservados.</span></p>

           <div class="bg-circle-outline d-inline-block">
             <a href="https://www.facebook.com/FAI-Facultad-de-Inform%C3%A1tica-UNCo-185003921537235/" class="text-white"><i class="fa fa-2x fa-fw fa-facebook"></i>
             </a>
           </div>

           <div class="bg-circle-outline d-inline-block">
             <a href="https://twitter.com/prensaunco?lang=es" class="text-white">
               <i class="fa fa-2x fa-fw fa-twitter"></i></a>
           </div>
         </div>
       </div>
       <div class="col-md-4">
         <h5>Contacto</h5>
         <dl class="contact-list">
           <dt>Dirección:</dt>
           <dd>{{ubicacion}}</dd>
         </dl>
         <dl class="contact-list">
           <dt>email:</dt>
           <dd><a href="mailto:#">@gmail.com</a></dd>
         </dl>
         <dl class="contact-list">
           <dt>teléfono:</dt>
           <dd>{{telefono}}</dd>
         </dl>
       </div>
       <div class="col-md-4 col-xl-3">
         <h5>Links</h5>
         <ul class="nav-list link">
           <li><a href="https://www.uncoma.edu.ar/">{{descripcion}}</a></li>
           <li><a href="http://faiweb.uncoma.edu.ar/">{{descripcion2}}</a></li>
         </ul>
       </div>
     </div>
   </div>

 </footer>
