.all{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  background-color: #f2f2f2;
  font-family: "DejaVu Serif", sans-serif ;
  font-size: medium;
  margin-bottom: 20px;
}
.contenido{
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 20px;
}
.cronograma{
  text-decoration: underline;
  font-family: Norasi, sans-serif;
}
.tabla{
background-color: lightgray;
  font-family: Norasi, sans-serif;
  font-size: 18px;
}

.linkdescarga{
  font-size: 18px;
}
