<div class="all">
<div class="container-fluid contenido">
<div class="row">
  <br>
  <h3 class="cronograma">{{titulo}}</h3>
  <div class="col-sm 12">
   <!--
  <h4>{{activ1}}</h4>
    <h5>{{txt1}}</h5>
    <h4>{{activ2}}</h4>
    <h5>{{txt2}}</h5>
    -->
    <br>
    <h4>La fecha de inicio de cada uno de los siguientes cursos será comunicada una vez terminada la inscripción.</h4>
    <a class="linkdescarga" href="../../assets/fotos/Plandeestudio.pdf" download="Plan de estudios">
      Descargar plan de estudios
    </a>
    <br>
    <br>
    <table class="table table-hover tabla">
      <!--
      <thead>
      <tr>
         <th scope="col">  Mes   --> <!--</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      -->
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td> <!-- Abril --> </td>
        <td>Tópicos Avanzados en Programación Concurrente (Dra. Nadina Martínez Carod)</td>
        <th scope="row" width="60" >2</th>
        <td>Análisis Estático de Programas Lógicos basado en Interpretación Abstracta (Mg. Claudio Vaucheret)</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>  <!-- Mayo --></td>
        <td>Reuso Orientado a Dominios (Dra. Agustina Buccella)</td>
        <th scope="row" width="60" >4</th>
        <td>Desarrollo Basado en Arquitecturas (Dra. Alejandra Cechich)</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>  <!-- Junio --> </td>
        <td>Tópicos Avanzados en Pruebas de Software (Dr. Andrés Flores)</td>
        <th scope="row" width="60" >6</th>
        <td>Computación Orientada a Servicios (Dr. Martín Garriga)</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td> <!-- Agosto --> </td>
        <td>Ingeniería de Software Empírica (Dr. Luis Reynoso)</td>
        <th scope="row" width="60" >8</th>
        <td>Gestión y Predicción de Consumo Energético en Cómputo de Altas Prestaciones (Dr. Javier Balladini)</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td> <!-- Septiembre --> </td>
        <td>Introducción al Gobierno Electrónico (Mg. Juan Manuel Luzuriaga)</td>
        <th scope="row" width="60" >10</th>
        <td>Ontologías y Web Semántica (Dra. Laura Cecchi)</td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td> <!-- Octubre --> </td>
        <td>Tópicos Formales en Criptografía (Mg. Gerardo Parra)</td>
        <th scope="row" width="60" >12</th>
        <td>Realidad Aumentada (Mg . Carina Fracchia)</td>
      </tr>
      <tr>
        <th scope="row">13</th>
        <td> <!-- Noviembre --> </td>
        <td>Tópicos Avanzados en Redes Locales (Mg. Claudio Zanellato)</td>
        <th scope="row" width="60" >14</th>
        <td>Métodos y Modelos Computacionales Aplicados (Mg. Adair Martins)</td>
      </tr>
      </tbody>
    </table>
    <br>
</div>
</div>

</div>
</div>
