

<div class="todo col-xs-12 col-md-12">
<!-- Container (Services Section) -->
  <div class="tex">
<div class="col-xs-12 col-md-12 container-fluid text-center texto">
  <br>
  <h3 class="txt3">{{subtitulo1}}</h3>
  <br>
  <h4 class="txt5">{{texto2}}</h4>
  <br>
  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <span class="glyphicon glyphicon-list-alt logo-small"></span>
      <h4 class="sub">{{subtitulo2}}</h4>
      <p class="txt4">{{texto3}}</p>
    </div>
    <div class="col-xs-6 col-sm-6">
      <span class="glyphicon glyphicon-search  logo-small"></span>
      <h4 class="sub">{{subtitulo3}}</h4>
      <p class="txt4" >{{texto4}}</p>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <span class="glyphicon glyphicon-hourglass logo-small"></span>
      <h4 class="sub">{{subtitulo5}}</h4>
      <p class="txt4">{{texto6}}</p>
    </div>
    <div class="col-xs-6 col-sm-6">
      <span class="glyphicon glyphicon-calendar logo-small"></span>
      <h4 class="sub">{{subtitulo4}}</h4>
      <p class="txt4">{{texto5}}</p>
    </div>
  </div>

  <div class="row-xs-12 row-sm-12">
    <div class="ultimo col-xs-6 col-sm-6 col-md-6">
      <span class="glyphicon glyphicon-edit logo-small"></span>
      <h4 class="sub">{{subtitulo6}}</h4>
      <p class="txt4">{{texto7}}</p>
    </div>

  </div>
</div>
  </div>
</div>

